name: "Automated update"
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@main
      with:
        ref: main
    - name: Install nix
      uses: cachix/install-nix-action@master
      with:
        install_url: https://github.com/numtide/nix-unstable-installer/releases/latest/download/install
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Setup cachix
      uses: cachix/cachix-action@master
      with:
        name: linyinfeng
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - name: Nix flake update
      run: |
        nix flake update
    - name: Run updater
      run: |
        nix run .#update
      env:
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
    - name: Create pull request
      uses: peter-evans/create-pull-request@main
      with:
        token: '${{ secrets.PAT_FOR_CREATE_PULL_REQUEST }}'
        commit-message: |
          Automated update
        title: Automated update
        author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
        committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
        branch: 'create-pull-request/update'
        delete-branch: true
